
/*Background for the page*/

body {
    
    background-color: black;         
    color: #ffffff;
    font-family:  sans-serif;
    font-size: 16px; 
    
}


/*--------------------------------- typography *------------------------------------*/

/*Copyright for the pages*/

#copyright{ 
    color: white;
    text-decoration: none;
    text-align: center;
    font-size:1.0vw;
    font-family: Garamond;
   
   margin-left: 1%;
   
}

break{
    display: block;
    margin: 5px 0;
}


h2{
    
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    letter-spacing: 1px; 
    color: white;
    background-color:black;
    font-family:Garamond;font-size:1.5vw;
   
   
}


.subh{
    
 
    font-weight: bold;
    padding: 50px 0px;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;
    font-family:Brawler;font-size:3.5vw;
    text-align: center;
   
   
}


.subhg{
    
 
    font-weight: bold;
    padding: 50px 0px;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;
    font-family:Brawler;font-size:3.5vw;
    text-align: center;
   
   
}



h3{
    font-family:Garamond;font-size:2.8vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    margin-left: 5%;
    margin-top: 40px;
  
    
   
}
#intro{
  
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 0%;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    text-align: center;
}



#statement{
  
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 6%;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    text-align: center;
}



#about{
    
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    margin-bottom: 2%;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    margin-left: 60%;
  
    
   
}

#design{
       
    margin-top: 3%;
    margin-bottom: 2%;
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    margin-left: 10%;
   
    
}


#awards{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
   text-align: center;
   
    
}


.pabout{
  
  
   margin-left: 30%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #C1BDBC;
  
        
}

.parch{
  
  
   margin-left: 40%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #C1BDBC;
        
}

.parch2{
    margin-left: 0%;
    margin-right: 45%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #C1BDBC;
}



.award{
  
  
   margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #C1BDBC;
    margin-bottom: 5%;
  
        
}

p{
   margin-left: 15%;
       margin-right: 15%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: center;
    background-color: #C1BDBC;
   
}



.churchills{
    
   margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px; 
    letter-spacing: 1px; 
    color: black;
    background-color:black;
    font-family:Garamond;
    font-size:1.5vw;
    text-align: left;
    background-color: #C1BDBC;
    margin-bottom: 5%;
    margin-top: 5%;
    
}


#history{
     margin-top: 3%;
    margin-bottom: 2%;
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    margin-left: 10%;
    
}



#mainbuilding{
  
   margin-top: 3%;
    margin-bottom: 2%;
    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
    margin-left: 10%;
 
  
        
}

#north{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
   text-align: center;
   
    
}


#landscape{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black;    
   text-align: center;
   
    
}

#stylistic{
       
    margin-top: 4%;
        margin-bottom: 2%;

    font-family:Garamond;font-size:2.4vw;
    font-weight: bold;
    letter-spacing: 1px; 
    color: #C1BDBC;
    background-color:black; 
     margin-left: 10%
   
    
}


/*--------------------------------- typography end *------------------------------------*/

/*--------------------------------- links *------------------------------------*/

a{ 
    color: white;
    text-decoration: none;
    font-size:1.5vw;
   

}
/*--------------------------------- links end *------------------------------------*/

/*--------------------------------- imgaes *------------------------------------*/

.homeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.history{
margin-top: 0px; 
margin-left: 19px;
height: 15%;
width: 25%;
    
}



.robin{

    
   margin-top: 0px; 
    margin-left: 19px;
   height: 15%;
    width: 25%;
}


.arch{


   margin-top: 0px; 
      margin-bottom: px; 
    margin-left: 19px;
   height: 15%;
    width: 35%;
}




/*--------------------------------- imgaes end*------------------------------------*/


/*--------------------------------- Header for index*------------------------------------*/
header {

    padding:0px;
   
}


.containerh{
    position: relative;
    text-align:center;
    color:white; 
    opacity: 0.9;
    
}

.centreredh{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); 
    font-size:5.5vw;
    color: black;
    font-family: "Goudy Stout";
    
}


.charcoal{

   margin-top: 0px; 
      margin-bottom: 2%; 
 
    margin-left: 19px;
   height: 15%;
    width: 35%;
}
/*--------------------------------- header end------------------------------------*/


/*--------------------------------- Navigation *------------------------------------*/


body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
   
}

ul.topnav li {float: left;
/*get rid to resposiveness */    width: 20%;

  
}


ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
    font-family: Amiri;
        
  padding: 14px 16px;

  text-decoration: none;
    

}

ul.topnav li a:hover:not(.active) {background-color: #C1BDBC;}

ul.topnav li a.active {background-color: #4d4d4d;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}




.keepleft{
    max-width: 30px;   
   
}


navcontainer ul
{
margin: 10px;
padding: 0px;
list-style-type: none;
}

#navcontainer a
{
font-family: Amiri; 
font-size:1.5vw;
display: inline-block;
color: #FFF;
background-color: #000000;
width: 7em;
padding: 3px 12px 3px 8px;
text-decoration:none;
border-bottom: 1px solid #fff;
font-weight: bold;
}

#navcontainer a:hover
{
background-color: #C1BDBC;
color: #FFF;
}

#navcontainer li li a
{

font-family: Amiri;
font-size:1.5vw;
display: inline-block;
color: #FFF;
background-color: black;

padding: 3px 3px 3px 17px;
text-decoration: none;
border-bottom: 0px solid #fff;
font-weight: normal;
}

/*--------------------------------- navigation end -----------------------------------*/


/*--------------------------------- hr element *------------------------------------*/

hr.line {
  border: 7px solid black;
  border-radius: 0px;
}

hr.linegallery {
  border: 7px solid white;
margin-top: 5%;

}

/*--------------------------------- hr element end------------------------------------*/


/*--------------------------------- main ------------------------------------*/


main{
    
    background-color: black;
    padding: 60px;
    overflow: auto;
}


mainv{
    
    background-color:#A9A9A9;
    padding: 0px;
    overflow: auto;
}


/*--------------------------------- main end ------------------------------------*/


/*--------------------------------- footer------------------------------------*/


 
footer{
    background-color:black;
        padding: 20px;

}

/* Footer */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
/*  height: 300px;  Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;

}



/*--------------------------------- footer *-----------------------------------*/

 /*  Background Image */

hr.type_10 {
border: 0;
height: 55px;
background-image: url(image/type_10.png);
background-repeat: no-repeat;
}



         #leftbox { 
                float:left;  
                background:black; 
                width:25%; 
                height:10px; 
             text-align: center;
            } 
            #middlebox{ 
                float:left;  
                background:black; 
                width:50%; 
                height:10px; 
                text-align: center;
            } 
            #rightbox{ 
                float:right; 
                background:black; 
                width:25%; 
                height:10px;
                text-align: center;
            } 
            h1{ 
                color:green; 
                text-align:center; 
            } 
.fa {
  
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;

  margin: 40px 10px;
 
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

 .fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
    
    
div.social { 
margin-left: 70%; 
}
    
    
    .vl { 
  border-left: 2px solid white;
  height: 20px;
}


/*--------------------------------- image hover for home page------------------------------------*/


.container {
  position: relative;
  width: 30%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*--------------------------------- Floating Back-To-Top Button------------------------------------*/
    #myBtn {
        position: right;
        bottom: 10px;
        float: right;
        right: 18.5%;
        left: 77.25%;
        max-width: 30px;
        width: 100%;
        font-size: 30px;
        border-color: grey;
        background-color: red;
        padding: .5px;
        border-radius: 4px;

    }
/*On Hover Color Change*/
    #myBtn:hover {
        background-color: #7dbbf1;
    }